@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap';

.container {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3),
    -2px -4px 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0,0,0,0.3);
    padding: 15px 0;
    border-radius: 12px;
    color: white;
    transition: all 0.4s ease-in;
}

.container:hover {
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.3),
    -2px -4px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

img {
    width: 80%;
    height: 250px;
}

h3 {
    font-size: 18px;
    padding: 15px;
    font-weight: 400;
}

p {
    font-weight: 300;
}
